<mat-toolbar color="primary" class="toolbar-custom">

  <!-- Sezione sinistra (solo desktop) -->
  <div class="nav-left desktop-links">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/progetti">Progetti</a>
  </div>

  <!-- Logo centrale -->
  <a routerLink="/home" class="brand-link">
    Aleksander Nikolli
  </a>

  <!-- Sezione destra (solo desktop) -->
  <div class="nav-right desktop-links">
    <a mat-button routerLink="/servizi">Servizi</a>
    <a mat-button routerLink="/contatti">Contatti</a>
    <a mat-button routerLink="/chi-sono">Chi sono</a>

  </div>

  <!-- Bottone menu (solo mobile) -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>

<!-- Menu mobile -->
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/home">Home</button>
  <button mat-menu-item routerLink="/progetti">Progetti</button>
  <button mat-menu-item routerLink="/servizi">Servizi</button>
  <button mat-menu-item routerLink="/contatti">Contatti</button>
  <button mat-menu-item routerLink="/chi-sono">Chi sono</button>
</mat-menu>
